body {
    font-family: italic,serif;
    background-color: whitesmoke;
    text-align: center;
}

h1 {
    margin-top: 22px;
}

.gallery-container {
    width: 520px;
    margin: 32px auto;
    background: lightgoldenrodyellow;
    padding: 13px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.gallery-container img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 7px;
}

.buttons {
    margin-top: 16px;
}

button {
    padding: 12px 22px;
    font-size: 18px;
    margin: 7px;
    border: none;
    border-radius: 6px;
    background-color: antiquewhite;
    color: rgb(230, 130, 8);
    cursor: pointer;
}

button:hover {
    background-color:blue;
}
footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 15px 0;
    font-size: 14px;
}